body {
	margin: 0;
	padding: 0;
	width: 100%;
	background: white;
}

a {
   text-decoration: none;
   color: #515151;
   white-space: nowrap;
}

.highlight:hover {
	background-color:lightgray;
}

span a {
	padding: 2px;
	color: white;
}

ul {
	list-style-type: none;
}

.button_container {
	/*padding-left: 160px;*/
	text-align: center;
}

.btn {
	padding: 10px;
}

textarea {
	margin-top: 12px; 
	font: 12px Courier New,Courier,monospace;
}


.bandpage-container .bandpage-subcontainer{
	display: inline-block;
}

/*Body Styles*/
/*header*/
.header {
 	display: block;
	width: 100%;
	/*background-color: #6699FF;*/
	color: white;
	font-family: garamond;
	text-align: center;
	padding: 10px;
	background: rgb(0,0,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(5,244,252,1) 44%, rgba(255,255,255,1) 49%, rgba(5,244,252,1) 54%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(44%,rgba(5,244,252,1)), color-stop(49%,rgba(255,255,255,1)), color-stop(54%,rgba(5,244,252,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(5,244,252,1) 44%,rgba(255,255,255,1) 49%,rgba(5,244,252,1) 54%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(5,244,252,1) 44%,rgba(255,255,255,1) 49%,rgba(5,244,252,1) 54%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(5,244,252,1) 44%,rgba(255,255,255,1) 49%,rgba(5,244,252,1) 54%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(5,244,252,1) 44%,rgba(255,255,255,1) 49%,rgba(5,244,252,1) 54%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.header-text {
	font-size: 40px;
}

.sub {
	font-size: 15px;
	padding: 12px;
}
.header-text a:visited {
	color: white;
} 


/*Search Styles*/
.search-container {
	display: flex;
	justify-content: space-around;
	background: black;
}

.alpha-search {
	display: inline-block;
	white-space: nowrap;
	padding: 10px;
}

.manual-search {
	display: inline-block;
}

.searchForm {
	position: relative;
	margin-top: 5px;
}

.search-bar {
	width: 414px;
	font-size: 14px;
}

.searchResults {
	width: calc(100% - 12px);
	position: absolute;
	top: 9px;
	background: F7F7F7;
	border: 1px solid gray;
	padding-left: 10;
}

.search-song-name {
	font-weight: bold;
}



/*Footer Styles*/
.footer {
	width: 100%;
	height: 80px;
	background-color: black;
	bottom: 0;
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
}

.footer a {
	color: white;
	font-weight: bold;
	margin-top: 10px;
}



/*Home Page Styles*/
.container {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.box {
	height: 500px;
	width: 28%;
	min-width: 300px;
	background-color: white;
	margin: 5px;
}

.category-header {
	text-align: center;
	border-bottom: 1px solid gray;
	margin-bottom: 10px;
}

.category-heading {
	display: inline-block;
	font-family: helvetica;
	font-size: 20px;
	font-weight: bold;
	padding: 8px 8px;
	line-height: 100%;
	color: #515151;
}

.boxSong {
	margin: 5px 0;
}


/*Alphabetical Page*/
.initial {
	font-size: 60px;
	display: inline-block;
	margin: 0 60px;
	float: left;
}


/*Band Page Styles*/
.songlist {
	padding-left: 160px;
	left: 0;
	width: 550px;
}

.songtype {
	float: right;
}



/*Tab Page Styles*/
.tab_container {
	display: flex;
	justify-content: center;
/*	margin-left: 160px;
	width: 90%;*/
/*	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;*/
}

.pre_tab {
	/*width:850px;*/
	display:inline-block;
	word-wrap:break-word;
	padding-left: 20px;
}

.pre_lyrics {
	/*width:400px;*/
	display:inline-block;
	word-wrap:break-word;
}


/*Submit Page Styles*/
.submit_label	 {
	float: left;
	width: 150px;
	text-align: right;
	padding-right: 10px;
	margin-top: 12px;
	margin-left: 140px;
	clear:left;
}

.submit_input {
	margin-top: 12px;
}

.submit_btn {
	margin-left: 360px;
	padding-top: 10px;
}


/*Contact Page Styles*/
.contact_page {
	padding: 50px 400px 50px 150px;
}