
<div class='contact-page'>
	<p>
		Hi everyone.  Thanks for visiting my site!  
	</p>

	<p>
		Let me state up front...I'm not a music major, but I love playing guitar. Not everything you find on here will be transcribed EXACTLY as the original...the same song can be played a 100 different ways, but it should be close!  If you have a tab that you think is worth posting, and you'd like to share it, send it my way!  I will post them as I am able to.  	
	</p>

	<p>
		Questions or comments send me an email!
	</p>

	<p>
		Peace and hair grease.	
	</p>

	<form action="MAILTO:accurateguitartabs@gmx.com" method="post" enctype="text/plain">
	Name:<br>
	<input type="text" name="name" placeholder="Name"><br>
	E-mail:<br>
	<input type="text" name="mail" placeholder="Email"><br>
	Tab/Question/Comment:<br>
	<textarea name="comment" placeholder="Tab/Question/Comment:" rows='30' cols='80'></textarea><br><br>
	<input type="submit" value="Send">
	<input type="reset" value="Reset">
	</form>


</div>