<form ng-submit='submit(songTitle, artistName, subType, tabText, lyrics)'>
	<div>
		<label class='submit-label' for='song_title'>Song Title:</label>
		<input ng-model='songTitle' class='submit-input' id='song_title' type='text'>
	</div>

	<div>
		<label class='submit-label' for='artist_name'>Band or Artist Name:</label>
		<input ng-model='artistName' class='submit_input' id='artist_name' type='text'>
	</div>
	
	<div>
		<label class='submit-label' for='sub_type'>Type</label>
		<select class='submit-input' ng-model='subType' id='sub_type'>
			<option value='TAB'>Tab</option>
			<option value='CHORD'>Chord</option>
		</select>
	</div>
	
	<div>
		<label class='submit-label' for='tab_text'>Tab Text:</label>
		<textarea ng-model='tabText' id='tab_text' rows='30' cols='105' placeholder='Copy and Paste Tab Text Here'></textarea>
	</div>
	<div>
		<label class='submit-label' for='tab_lyrics'>Lyrics (optional)</label>
		<textarea ng-model='lyrics' id='tab_lyrics' rows='30' cols='50' placeholder='Copy and Paste Song Lyrics Here'></textarea>
	</div>
	
	<div class='submit-btn'>
		<input type='submit' value='Submit For Review'>
	</div>
</form>
